html{
    height: 100vh;
    width: 100vw;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: "Trirong", serif;
    
}
.containerOfEachQuiz{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    position: relative;
    margin: 20px 0;

}
.containerOfEachQuiz::after{
    position: absolute;
    content: " ";
    bottom: 0;
    width: 50%;
    height: 20%;
    background-color:transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: -1;
    
}
.containerOfEachQuiz::before{
    position: absolute;
    content: " ";
    top: 0px;
    width: 70%;
    height: 20%;
    background-color:transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    z-index: -2;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 500px;
    
    gap: 0;
    padding: 0;
}


.questionLabel{
    padding: 10px 20px;
    text-align: left;
    margin: 0;
    padding: 0;
   
}


.questionInput{
    all: unset;
    font-style: normal;
    border:  none;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    box-shadow: 0;
    text-shadow: 0;
    font-family: 12px;
}
.optContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin: 50px 0;
    position: relative;
}
.optLabel{
    font-size: 14px;


}
.optContainer input{
    all: unset;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 12px;
    padding: 10px;
    box-shadow: 0;
    text-shadow: 0;
   


}

.ulOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 13px;
    gap: 10px;
    border-top: 1px solid black;
    margin: 0;

    
}
.titleOptions{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
.eachOption{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.eachOption label{
    margin-bottom: 12px;
}
.eachOption input{

    width: 15px;
    height: 15px;
    
    padding-bottom: 0;
    margin-bottom: 0;
}
button{
    
    all: unset;
    position: relative;
    padding: 10px 40px;
    background-color:  rgb(255, 255, 255);
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: inline-block;
    overflow: hidden;
}
button::after{
    position: absolute;
    content: "";
    height: 80% ;
    width: 100%;
    border-top: 1px solid black;
    background-color: transparent;

    top: 0;
    left: 0;

    animation: button-border 3s ease-in-out alternate-reverse both infinite;

}
button::before{
    position: absolute;
    content: "";
    height: 100% ;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: transparent;

    bottom: 0;
    left: 0;
   animation: button-border 3s ease-in-out reverse both infinite;

}

button::after:hover{
    animation: button-border 3s forwards ease-in infinite;

}
button:hover{
    /* animation: button-border 3s alternate ease-in; */
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.293);

    transition: 1s ease-out;
   
}

.questionTitle{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.optionsitem{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
p:has(strong) {
    border: 1px solid black;

}
@keyframes button-border {
    0%{
       height: 100%;
       width: 0;
    }
    50%{
        display: block;
       width: 100%;
       height: 100%;
    }
    100%{
        left: 300px;
        height: 100%;
        width: 0;
        border: none;
    }
    
}
.quizContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.questionTitle{
    width: 100%;
    text-align: center;
}
.optionsitem{
    margin: 20px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  input[type="checkbox"]::before {
    content: "✔";
    color: black;
    font-size: 15px;
    display: none;
  }
  
  input[type="checkbox"]:checked::before {
    display: block;
  }

  @media (min-width: 200px) and (max-width: 760px) {
 
    form{
      width: 70%;
    }
    .containerOfEachQuiz::after{
     width: 80%;
      
  }
  .containerOfEachQuiz::before{
     width: 80%;
      
  }
  
  }
  @media (min-width: 761px) {
 
    form{
      width: 70%;
    }
    .containerOfEachQuiz{
        max-width: 900px;
        margin: 20px auto;
    }
    .containerOfEachQuiz::after{
     width: 80%;
      
  }
  .containerOfEachQuiz::before{
     width: 80%;
      
  }
  
  }
